.top .head
{
    color: royalblue;
}
.top .head a
{
    font-size:xx-large;
    float: left;
    padding: 10px;
    cursor: pointer;
}
.top .head a#log
{
    color: red;
    float: right;
    font-size: 25px;
}
.top .head a.selected{
	text-decoration:underline;
}